<div class="owl-carousel">

<div id= "banner" class="cover_home">
<div id="titulo">
	<h1 class="white">Disfruta el camino</h1>
	<hr class="left">
</div>
</div>

<div id= "banner" class="cover_home5">
<div id="titulo">
	<h1 class="white">Free Spirits MX</h1>
	<hr class="left">
</div>
</div>

</div>


<div class="container">
	<div id="frase">
		<h4>“Gente ordanaria,
haciendo cosas extraordinarias”</h4>
	</div>
</div>

<div id="evento1" class="cover_event1 center">
	<% @events.each do |event| %>
		<h3 class="white"><%= event.nombre%></h3>
		<p class="white"><%=event.fecha %>, <%=event.lugar %></p>
		<%= link_to "Más información", event, class: "button button_blue" %>
		<% end %>
</div>

<div class="container">
<div id="cats">
	<div class="row">
		<div class="col-md-12">
			<%= link_to events_path do %>
			<div id="cat_izq">
				<h2 class="white">Eventos</h2>
			</div>
			<% end %>
		</div>
<!-- 		<div class="col-md-6">
			<div id="cat_der">
				<h2 class="white">Tienda</h2>
			</div>
		</div> -->
	</div>
</div>
</div>

<div id="titulo2">
	<h1 class="left">Blog</h1>
	<hr class="left">
</div>


	<div id="blog">
<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
    <%= link_to post do %>
    <div class="col-md-4 col-sm-6">
      <div id="cometas">
        <div class="imagen">
        <%= image_tag post.post_image.url %>
        </div>
        <h2 class="center"><%= post.titulo.truncate(60)%></h2>
        <h5>Por: <%= post.autor%></h5>
        <p><%= post.body.truncate(120).html_safe%></p>
        <hr>
        <h6 class="center"><%=post.fecha.to_date.strftime(" %b %d, %Y") %></h6>
      </div>
    </div>
    <% end %>
    <% end %>
     </div>
</div>
<p class="center"><%= link_to "Todos los posts", posts_path, class: "button button_blue" %></p>
	</div>


<div id="evento1" class="cover_event2 center">
	<div class="container">
		<h5>Regístrate para recibir antes que nadie noticias e información de Free Spirits</h5>
<div id="formi">
	<ul>
		<%= form_for @contact do |f| %>
		<li>
				<%= f.email_field :email, required:true, placeholder: "tu correo va aquí.." %>
				<%= f.text_field :donde, :value => "#{params[:controller]} - #{request.original_url}", class: "hidden" %>
				<%= f.text_field :nickname, hint: 'Esto se queda en blanco', class: "hidden" %>
		</li>
		<li><%= f.submit "Registrarme", class:"button button_blue button_center"%></li>
		<% end %>
	</ul>
</div>
	</div>
</div>





<%= render 'instagram' %>


<script>
var owl = $('.owl-carousel');
owl.owlCarousel({
    items:1,
    loop:true,
    margin:10,
    autoPlay:true,
    autoplayTimeout:1000,
    autoplayHoverPause:true,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:1,
            nav:true
        },
        1000:{
            items:1,
            nav:true,
            loop:true
        }
    }
});
</script>

