<%= form_with(model: event, local: true) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre, id: :event_nombre, required:true %>
  </div>

  <div class="field">
    <%= f.label :fecha %>
    <%= f.text_field :fecha, id: :event_fecha %>
  </div>

  <div class="field">
    <%= f.label :lugar %>
    <%= f.text_field :lugar, id: :event_lugar %>
  </div>

  <div class="field">
    <%= f.label :fecha_real %>
    <%= f.date_select :fecha_real, id: :event_fecha_real, required:true %>
  </div>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.cktext_area :descripcion, id: :event_descripcion %>
  </div>

  <div class="field">
    <%= f.label :link_boleto %>
    <%= f.url_field :link_boleto, id: :event_link_boleto %>
  </div>

  <div class="field">
    <%= f.label :hora %>
    <%= f.text_field :hora, id: :event_hora %>
  </div>

  <div class="field">
    <%= f.label :categoria %>
    <%= f.text_field :categoria, id: :event_categoria %>
  </div>

  <div class="field">
    <%= f.label :foto %><br>
    <%= @event.foto if @event.foto %>
    <br><br>
    <%= f.file_field :foto %>
    <%= f.hidden_field :foto_cache %>
  </div>

  <hr>

  <div id="formarios">
    <h3 class="center">Itinerario:</h3>
  <%= f.fields_for :blocks do |block| %>

  <%= render "block_fields", f: block %>

  <% end %>
      <br>
      <div class="links">
        <%= link_to_add_association 'Añadir Evento', f, :blocks, class: "button button_blue" %>
      </div>
      <br>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
