<div class="container">
	<div id="about">
		<div class="row">
			<div class="col-md-6">
				<div id="carro">
					<div class="owl-carousel">
						<div> <%= image_tag "about1.jpg" %> </div>
						<div> <%= image_tag "about2.jpg" %> </div>
						<div> <%= image_tag "about3.jpg" %> </div>
						<div> <%= image_tag "about4.jpg" %> </div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div id="textin">
					<p>Este proyecto nació como un espacio, para poder difundir a toda esa gente que entrena a morir, que ve la cima desde el inicio, pero sobre todo que son personas normales, que tienen hijos y responsabilidades. <br><br>Por ti que dejas las reuniones con tus cuates por ese momento de gloria que nos ofrece nuestra madre naturaleza. <br> <br>
						Somos una comunidad que conecta lo humano, su entorno y el deseo de conseguir las mas grandes hazañas, buscando a personas ordinarias, logrando cosas extraordinarias. <br> <br>
						Buscamos contactar con esa gente que gusta de los planes en el exterior, ya sea que tengan experiencia o no, por eso hacemos el llamado para ser parte de esta gran aventura
					</p>
					<hr>
					<h2 class="center">La comunidad de deportes extremos mas grande de México</h2> <br><br>
					<%= link_to "Contáctanos", new_contact_path, class: "button button_blue button_center" %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div id="frase">

		<div class="owl-carousel2">
			<div>
						<h4><strong>' ' </strong>No pretendo demostrar nada, sino superarme a mí mismo<strong> ' '</strong></h4>
						<p class="center">- Alejandro Saldaña Mora (Miligram)</p>
			</div>

			<div>
						<h4><strong>' ' </strong>...poder encontrar otro mundo en las profundidades y por medio de la foto enseñar ese mundo y ayudar a conservarlo<strong> ' '</strong></h4>
						<p class="center">- Kay Vilchis</p>
			</div>

			<div>
						<h4><strong>' ' </strong>...tengo la oportunidad de aprender y mejorar mi actitud hacia mis expectativas y miedos.<strong> ' '</strong></h4>
						<p class="center">- Arcelia Garcia</p>
			</div>

		</div>

	</div>
</div>



<%= render 'welcome/instagram' %>

<script>
	$(".owl-carousel").owlCarousel();
</script>


<script>
	$('.owl-carousel2').owlCarousel({
    center: true,
    items:1,
});
</script>